header {
	display: inline;
	text-align: center;
	max-width: 1000px;
}
span {
	display: flex;
	padding: 0 25px;
}

.score-area {
	display: flex;
	justify-content: center;
	align-items: center;
}

h1 {
	text-align: center;
	font-size: 60px;
}

#card-number {
	font-size: 25px;
	font-weight: 800;
}

#number-correct {
	font-size: 25px;
	font-weight: 800;
}

#flash-card {
	width: 500px;
	height: 300px;
	border-radius: 15px;
	font-size: 150px;
	text-align: center;
	margin: 0 auto;
	border: 2px solid darkgrey;
}

body {
	display: inline;
	max-width: 1000px;
	margin: 0 auto;
}

/* I learned how to create these arrows using box-shadow here: https://www.geeksforgeeks.org/how-to-create-custom-arrows-for-your-website-using-html-and-css/ */

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 10rem;
}
.arrow {
	width: 60px;
	height: 60px;
}

#previous {
	transform: rotate(45deg);
	box-shadow: -3px 3px 0 orange;
}

#previous:hover {
	box-shadow: -3px 3px 0 green;
}

#next {
	transform: rotate(-135deg);
	box-shadow: -3px 3px 0 orange;
}

#next:hover {
	box-shadow: -3px 3px 0 green;
}

.buttons {
	display: flex;
	justify-content: center;
}
